@media (max-width: 600px){
    .macs-cups{
        width: 100%;
        height: 156.25rem;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .navbar-con{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -3.125rem;
        padding-left: 1.875rem;
        padding-top: .375rem;
        gap: 3px;
    }
    .conocenos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 2000px;
    }
    .texto-conocenos{
        width: 100%;
    }
    .mi-carrousel{
        width: 100%;
    }
    .text-aboutus{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1250px;
    }
    .my-form{
        width: 90%;
    }
    .main-home{
        height: 1650px;
    }
    .grid-conteiner{
        width: 100%;
        height: 56.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem;
        h1{
            height: 18.75rem;
            text-align: center;
        }
    }
    .text-home{
        width: 100%;
        height: 400px;
        p{
            height: 350px;
        }
    }
    .img-home{
        img{
            max-width: 100%;
        }
        
    }
    .home-secundary{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: .9375rem;
        img{
            max-width: 110%;
        }
        
    }
}
