@media (max-width: 425px){
    header{
        flex-direction: column;
        width: 100%;
        height: 18.75rem;
        div{
            position: relative;
            top: -1.25rem;
        }
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -3.125rem;
        padding-left: 1.875rem;
        gap: 5px;
    }
    .main-home{
        width: 100%;
        height: 115rem;
    }
    .grid-conteiner{
        width: 100%;
        height: 56.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem;
        h1{
            height: 18.75rem;
            text-align: center;
        }
    }
    .text-home{
        width: 100%;
        height: 31.25rem;
        p{
            height: 28rem;
        }
    }
    .img-home{
        img{
            max-width: 100%;
        }
        
    }
    .home-secundary{
        width: 100%;
        height: 43.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: .625rem;
        img{
            max-width: 105%;
        }
        
    }
    .macs-cups{
        width: 100%;
        height: 180rem;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40.625rem;
    }
    .card-contein-cups{
        background-image: none;
    }
    .card-contein-macs{
        background-image: none;
    }
    .inicio{
        width: 100%;
        height: 900px;
        h2{
            color: black;
        }
        h3{
            color: black;
        }
        p{
            background-color: #ffffff00;
            color: black;
        }
    }
    .text-secundario{
        color: black;
        padding-top: 30px;
    }
    .conocenos{
        height: 143.75rem;
    }
    .text-aboutus{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1400px;
    }
    .ubicacion{
        display: flex;
        flex-direction: column;
    }
    .my-form{
        width: 90%;
    }
}
