
@media (max-width: 732px){
    .conocenos{
        
        width: 100%;
        height: 93.75rem;
    }
    .text-aboutus{
        display: flex;
        align-items: center;
        height: 50rem;
        div{
            width: 100%;
            height: 43.75rem;
        }
    }
    .my-form{
        width: 90%;
    }
    .grid-conteiner{
        width: 100%;
        height: 56.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem;
        h1{
            height: 18.75rem;
            text-align: center;
        }
    }
    .text-home{
        width: 100%;
        height: 12.5rem;
        p{
            height: 15.625rem;
        }
    }
    .img-home{
        align-self: center;
        img{
            max-width: 100%;
        }
        
    }
    .home-secundary{
        width: 100%;
        height: 43.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 1.25rem;
        img{
            max-width: 110%;
        }
    }
    .main-home{
        height: 1400px;
    }
}