@media (max-width: 600px){
    .macs-cups{
        width: 100%;
        height: 156.25rem;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .navbar-con{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -3.125rem;
        padding-left: 1.875rem;
        padding-top: .375rem;
        gap: 3px;
    }
    .conocenos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 56.25rem;
    }
    .texto-conocenos{
        width: 100%;
    }
    .mi-carrousel{
        width: 100%;
    }
}
