@media (max-width: 425px){
    header{
        flex-direction: column;
        width: 100%;
        height: 18.75rem;
        div{
            position: relative;
            top: -1.25rem;
        }
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -3.125rem;
        padding-left: 1.875rem;
        gap: 5px;
    }
    .main-home{
        width: 100%;
        height: 56.25rem;
    }
    .grid-conteiner{
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        padding-top: .625rem;
        h1{
            text-align: center;
            font-size: 30px;
        }
    }
    .img-home{
        display: flex;
        justify-content: center;
        padding-top: 1.25rem;
        img{
            width: 85%;
            height: 100%;
        }
    }
    .macs-cups{
        width: 100%;
        height: 180rem;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40.625rem;
    }
    .card-contein-cups{
        background-image: none;
    }
    .card-contein-macs{
        background-image: none;
    }
    .inicio{
        width: 100%;
        height: 900px;
        h2{
            color: black;
        }
        h3{
            color: black;
        }
        p{
            background-color: #ffffff00;
            color: black;
        }
    }
    .text-secundario{
        color: black;
        padding-top: 30px;
    }
    .ubicacion{
        display: flex;
        flex-direction: column;
    }
}
