@media (max-width: 320px){
    .main-home{
        width: 100%;
        height: 125rem;
        
    }
    .grid-conteiner{
        width: 100%;
        height: 68.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding: 1.25rem;
        h1{
            height: 18.75rem;
            text-align: center;
        }
        
    }
    .text-home{
        width: 100%;
        height: 40.625rem;
        p{
            height: 37.5rem;
        }
    }
    .img-home{
        img{
            max-width: 100%;
        }
        
    }
    .home-secundary{
        width: 100%;
        height: 43.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: .9375rem;
        img{
            max-width: 100%;
        }
        
    }
    .macs-cups{
        width: 100%;
        height: 156.25rem;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40.625rem;
    }
    .card{
        width: 70%;
    }
    @keyframes show{
        from {
            opacity: 0;
            scale: 25%;
        }
    } 
    to {
        opacity: 1;
        scale: 100%;
    }

    .card-contein-macs{
        background-image: none;
    }
    .card-contein-cups{
        background-image: none;
    }
    .inicio{
        gap: 1.875rem;
        width: 100%;
        height: 900px;
        h2{
            color: black;
        }
        h3{
            color: black;
        }
        p{
            background-color: #ffffff00;
            color: black;
        }
    }
    .text-secundario{
        color: black;
        padding-top: 30px;
    }
    .navbar-con{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -3.125rem;
        padding-left: 1.875rem;
        padding-top: .375rem;
        gap: 3px;
    }
    .conocenos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150rem;
    }
    .texto-conocenos{
        width: 100%;
    }
    .mi-carrousel{
        width: 100%;
    }
    .text-aboutus{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1450px;
    }
    .ubicacion{
        display: flex;
        flex-direction: column;
    }
    .my-form{
        width: 100%;
    }
    
}