@media (max-width: 1440px){
    .conocenos{
        width: 100%;
        height: 62.5rem;
    }
    .text-aboutus{
        width: 100%;
        height: 31.25rem;
        padding: 1.25rem;
        align-items: start;
        div{
            height: 25rem;
        }
    }
    .my-form{
        width: 80%;
    }
    .home-secundary{
        padding-left: 1.25rem;
    }
}